<!-- inherit from base.html-->
{% extends "functionalStrat/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Functional Boss Strategies</h1>

<h2> Choose the Expansion </h2>
    <ul class="list-group">
        {% for x in expansions%}
        <li class="list-group-item" text-info bg-dark"><strong class="text-Success">{{ x.name}}</strong>
            <a href="{{x.get_absolute_url}}" class="btn btn-dark">View</a>
        </li>
        {%endfor%}
    </ul>

{% endblock %}
